*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
.main{
	width: 440;
/*	background: red;*/
	float: left;
	min-height: 310;
	}
.header{
	background: yellow;
	float: left;
	width: 440;
	min-height: 50;
	box-sizing: border-box;
	margin-bottom: 10;
	padding: 20;
}

.nav{
	width: 80;
	background: yellow;
	float: left;
	min-height: 250;
	box-sizing: border-box;
	padding: 20;
}
.article{
	width: 280;
	background: yellow;
	margin-left: 10;
	margin-right: 10;
	margin-bottom: 10;
	float: left;
	min-height: 190;
	box-sizing: border-box;
	padding: 20;
}

.ads{
	width: 60;
	min-height: 190;
	background: yellow;
	float: left;
	box-sizing: border-box;
	padding: 20;
}

.footer{
	width: 350;
	min-height: 50;
	background: yellow;
	box-sizing: border-box;
	float: left;
	margin-left: 10;
/*	padding: 20 0 0 20;*/
	padding: 15;
}